<form action="<%= request.fullpath %>" method="POST">
  <div class="source">
    <span class="header">Galleries</span>
    <% @galleries.each do |gallery| -%>
    <a href="<%= admin_gallery_path(gallery) %>">
      <span class="icon" style="background-image:url(<%= gallery.cover_image.file.url(:admin_icon) %>);"><%= gallery.name %></span>
    </a>
    <% end -%>
  </div>
  <div class="destination">
    
  </div>
</form>
