<h1>Log In</h1>
<% form_tag(admin_session_path) do %>
  <p>
    <label for="email">E-mail</label>
    <%= text_field_tag(:email, '', :class => 'oversized text') %>
  </p>
  <p>
    <label for="password">Password</label>
    <%= password_field_tag(:password, '', :class => 'oversized text') %>
  </p>
  <%= button 'Log In', :class => 'grey' %> <%= button_link_to 'Forgot Your Password?', forgot_admin_session_path %>
<% end %>
