<% unless params[:preview] == 'yup' -%>
<h1 class="posts icon">New Blog Post</h1>
<% end -%>
<% form_for(:post, @post, :url => grandstand_posts_path) do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <div class="toolbar">
    <%= button 'Add Post' %>
    <%= button_link_to('Cancel', grandstand_posts_path, :class => 'cancel') %>
  </div>
<% end -%>
