<h2>Welcome to <%= Grandstand.app_name %>!</h2>
<div class="pad">
  <h3>This is your dashboard.</h3>
  <p>From here, you can edit things like <%= link_to 'pages', grandstand_pages_path, :class => 'pages icon' %>,
  <%= link_to 'blog posts', grandstand_posts_path, :class => 'posts icon' %>,
  <%= link_to 'photo galleries', grandstand_galleries_path, :class => 'galleries icon' %>,
  and more!
</div>