<h1 class="pages icon"><%= @page.name %></h1>
<% form_for(:page, @page, :url => grandstand_page_path(@page)) do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <div class="toolbar">
    <%= button 'Save' %>
    <%= button_link_to('Cancel', grandstand_pages_path, :class => 'cancel') %>
  </div>
<% end -%>
