<h1 class="pages icon">New Page</h1>
<%= form_for(:page, @page, :url => grandstand_pages_path) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <div class="toolbar">
    <%= button 'Add Page' %>
    <%= button_link_to('Cancel', grandstand_pages_path, :class => 'cancel') %>
  </div>
<% end =%>
