<%= render :partial => 'left' %>
<h1 class="pages icon"><%= @page.name %> <%= button_link_to('Edit', edit_grandstand_page_path(@page), :icon => 'edit') %></h1>
<div class="quiet"><%= link_to url = page_url(@page.url), url %></div>
