<h2>Edit Gallery</h2>
<% form_for(:gallery, @gallery, :url => grandstand_gallery_path(@gallery)) do |form| -%>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <div class="toolbar">
    <%= button 'Save' %>
    <%= button_link_to('Cancel', grandstand_galleries_path, :class => 'cancel') %>
  </div>
<% end -%>
