<% content_for :left do %>
  <%= button_link_to('Add a Gallery', new_grandstand_gallery_path, :class => 'remote', :icon => 'add') %>
<% end %>
<% if @galleries.empty? -%>
<div class="inset">
  <h2>You haven't set up any galleries!</h2>
  <b class="grey">Get started:</b> <%= button_link_to('Add a Gallery', new_grandstand_gallery_path, :class => 'remote', :icon => 'add') %>
</div>
<% else -%>
<div class="galleries sortable">
  <%= render :partial => 'list', :locals => {:galleries => @galleries} %>
</div>
<% end -%>
