#grandstand .styled-toolbar {
  background-color: #a7a7a7;
  background-image: -moz-linear-gradient(top, #cacaca, #a7a7a7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#a7a7a7));
  overflow: hidden;
  padding: 5px;
}
#grandstand .button-default {
  background-color: #ececec;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  border: 1px solid #d4d4d4;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  margin: 0;
  overflow: hidden;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: #ffffff 0 1px 0;
  vertical-align: baseline;
  vertical-align: middle;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#grandstand .button-hover {
  background-color: #3072b3;
  background-image: -moz-linear-gradient(top, #599bdc, #3072b3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
  border-color: #518cc6;
  border-bottom-color: #2a65a0;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
}
#grandstand .button-active {
  background-color: #599bdc;
  background-image: -moz-linear-gradient(top, #3072b3, #599bdc);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3072b3), to(#599bdc));
  border-bottom-color: #518cc6;
  border-top-color: #2a65a0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 1px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 1px;
}
#grandstand .button-grey {
  background-color: #333333;
  background-image: -moz-linear-gradient(top, #333333, #444444);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#333333));
  border-color: #000000;
  color: #ffffff;
  text-shadow: #000000 0 -1px 0;
}
#grandstand .button-grey-hover {
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #333333, #444444);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#444444));
}
#grandstand .button-grey-active {
  -moz-box-shadow: inset #000000 0 0px 1px;
  -webkit-box-shadow: inset #000000 0 0px 1px;
}
body { overflow: hidden; }
#header {
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #ffffff;
  height: 35px;
  left: 0;
  padding: 0 10px;
  position: absolute;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-shadow: #999999 0 1px 2px;
  -webkit-box-shadow: #999999 0 1px 2px;
}
#header .float-right { line-height: 35px; }
#header .float-right a {
  color: #000000;
  display: inline-block;
  padding: 0 7px;
}
#header .float-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: underline;
}
#logo {
  display: inline-block;
  padding-top: 1px;
}
#content {
  height: 100%;
  overflow: hidden;
  padding: 36px 0 0 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#left {
  left: 20px;
  position: absolute;
  top: 51px;
  width: 150px;
}
#left .button {
  display: block;
  margin-bottom: 10px;
}
#left ul {
  background-color: #ececec;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  list-style-type: none;
  margin: 0;
  padding: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
#left ul li.first > a {
  border-top-color: #d4d4d4;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
}
#left ul li.first a.expand {
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 2px;
}
#left ul li {
  margin: 0;
  padding: 0;
}
#left ul li a {
  background-color: #ececec;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  border: 1px solid #d4d4d4;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  margin: 0;
  overflow: hidden;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: #ffffff 0 1px 0;
  vertical-align: baseline;
  vertical-align: middle;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-top-color: #f4f4f4;
  display: block;
  padding: 5px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#left ul li a:hover {
  background-color: #3072b3;
  background-image: -moz-linear-gradient(top, #599bdc, #3072b3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
  border-color: #518cc6;
  border-bottom-color: #2a65a0;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
}
#left ul li a:active {
  background-color: #599bdc;
  background-image: -moz-linear-gradient(top, #3072b3, #599bdc);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3072b3), to(#599bdc));
  border-bottom-color: #518cc6;
  border-top-color: #2a65a0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 1px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 1px;
}
#left ul li a.expand {
  float: right;
  margin-right: 0;
  height: 26px;
  line-height: 26px;
  padding: 0;
  width: 15px;
}
#left ul li a.expand span {
  background: url(../images/icons/expand.png) center bottom no-repeat;
  display: block;
  height: 16px;
  margin-top: 4px;
  width: 16px;
}
#left ul li ul { display: none; }
#left ul li ul li a {
  font-size: 10px;
  padding-left: 20px;
}
#left ul li.expandable > a { border-right-width: 0; }
#left ul li.expandable > a.expand { border-right-width: 1px; }
#left ul li.last a {
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
}
#left ul li.expanded a.expand span { background-image: url(../images/icons/collapse.png); }
#left ul li.expanded ul { display: block; }
#main {
  height: 100%;
  padding: 20px 20px 20px 190px;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#cover {
  background-color: #000000;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
#cover.loading {
  background-image: url(../images/spinner-dark.gif);
  background-position: center center;
  background-repeat: no-repeat;
}
#dialog {
  left: 50%;
  margin-left: -200px;
  position: fixed;
  top: 0;
  width: 400px;
  z-index: 3;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-box-shadow: #333333 0 1px 2px;
  -webkit-box-shadow: #333333 0 1px 2px;
}
#dialog h2 {
  background: #fafafa;
  border-bottom: 1px solid #dddddd;
  color: #555555;
  font-size: 10pt;
  margin: 0 !important;
  padding: 5px;
  text-shadow: #ffffff 0 1px 0;
}
#dialog form {
  border-top: 1px solid #ffffff;
  margin: 0;
}
#dialog form.two-pane {
  background: #d9dfe8;
  border-top-width: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
#dialog .destination {
  background-color: #ffffff;
  border-left: 1px solid #aaaaaa;
  height: 100%;
  margin-left: 200px;
}
#dialog .field {
  background: #f0f0f0;
  padding: 10px;
}
#dialog .image { cursor: pointer; }
#dialog .scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#dialog .source {
  float: left;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px;
}
#dialog .source .header {
  background-color: transparent !important;
  background-image: none !important;
  border-width: 0 !important;
  color: #505d81;
  font-weight: bold;
  padding: 10px 10px 5px 10px;
  text-shadow: #f1f5f8 0 1px 0;
  text-transform: uppercase;
}
#dialog .source a {
  border-top: 1px solid #d9dfe8;
  color: #000000;
  display: block;
  padding: 5px 5px 5px 20px;
  text-decoration: none;
}
#dialog .source a.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#63a4e2), to(#0066c0));
  border-top: 1px solid #4691d6;
  color: #ffffff;
  text-shadow: #000000 0 1px 0;
}
#dialog .toolbar {
  background-color: #a7a7a7;
  background-image: -moz-linear-gradient(top, #cacaca, #a7a7a7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#a7a7a7));
  overflow: hidden;
  padding: 5px;
  border-top: 1px solid #888888;
  clear: both;
  text-align: right;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
#dialog .toolbar .button { border-color: #888888; }
#dialog.large {
  margin-left: -450px;
  width: 900px;
}
#dialog.medium {
  margin-left: -300px;
  width: 600px;
}
