@import url('dialog.css');
@import url('forms.css');
@import url('global.css');

/* HTML Elements */
body {
  background-color:#3b3737;
  background-image:none;
  margin:0;
  padding:5px 50px 10px 50px;
}

h3 {
  margin:0 0 0.5em 0;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}

table tbody, table tr {
  width:100%;
}


/* Application Layout */
#logo {
  display:block;
  float:left;
  margin:0;
}

#logo a {
  color:#9dd3df;
}

#logo a:hover {
  color:#fff;
}

#logo:active {
  padding-top:1px;
}

#menu, .ui-tabs-nav {
  float:left;
  list-style-top:none;
  margin:0;
  padding:0 0 0 2em;
}

#menu li, .ui-tabs-nav li {
  display:block;
  float:left;
  margin-right:0.4em;
}

#menu li a, .ui-tabs-nav li a {
  background-color:#9dd3df;
  background-position:20px 10px;
  background-repeat:no-repeat;
  color:#374a4e;
  display:block;
  float:left;
  font-size:12pt;
  font-family:'MuseoSans';
  height:35px;
  line-height:36px;
  padding:0 20px;
  text-transform:uppercase;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
}

#menu li a {
  padding:0 20px 0 40px;
}

#menu li a:hover, .ui-tabs-nav li a:hover {
  background-color:#ace7f4;
}

#menu li a:active, .ui-tabs-nav li a:active {
  height:34px;
  margin-top:1px;
}

#menu li a.active, .ui-tabs-nav li.ui-state-active a {
  background-color:#c9d1d3;
  color:#000;
  position:relative;
  z-index:3;
}

#menu li#posts a {
  background-image:url(../images/icons/posts.png);
}

#menu li#galleries a {
  background-image:url(../images/icons/galleries.png);
}

#menu li#pages a {
  background-image:url(../images/icons/pages.png);
}

#menu li#users a {
  background-image:url(../images/icons/users.png);
}

#toolbar {
  float:right;
  overflow:hidden;
  padding:1em;
}

#content {
  background-color:#f7f7f7;
  clear:both;
  height:100%;
  overflow:hidden;
  position:relative;
  z-index:2;
  -webkit-border-radius:3px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.5) 0 0 5px;
  /*  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  */
}

#content h2 {
  background-color:#c9d1d3;
  border-bottom:1px solid #aaa;;
  color:#3b3737;
  margin:0;
  padding:0.5em;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
}

#content h2 a.external {
  display:block;
  font-size:9pt;
  margin:0.5em 0 0 0;
}

#content form {
  padding:1em;
}

#footer {
  background-color:#c9d1d3;
  border-top:1px solid #aaa;
  clear:both;
  font-size:8pt;
  padding:1em;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
}

/* Generic Classes */
.container {
  float:left;
  margin:0 0 1em 1em;
  padding:0 !important;
  width:220px;
}

.container.gallery img {
  display:none;
}

.container.gallery a img, .container.image img {
  display:block;
  padding:10px;
}

.container:hover {
  background-color:#ececec;
}

.grey {
  color:#666;
}

.header {
  background-color:#a7a7a7;
  background-image:-moz-linear-gradient(top, #cacaca, #a7a7a7);
  background-image:-webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#a7a7a7));
  border-bottom:1px solid #888;
  overflow:hidden;
  padding:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
}

.header .float-left {
  cursor:move;
  font-weight:bold;
}

.center {
  text-align:center;
}

.error {
  margin-top:5px;
}

.errors label {
  color:#f00;
}

.errors input.text, .errors select, .errors textarea {
  border:1px solid #f00;
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.icon {
  background-position:left top;
  background-repeat:no-repeat;
  display:inline-block;
  min-height:16px;
  padding-left:20px;
}

.icon.add {
  background-image:url(../images/icons/add.png);
}

.icon.delete {
  background-image:url(../images/icons/delete.png);
}

.icon.edit {
  background-image:url(../images/icons/edit.png);
}

.icon.error {
  background-image:url(../images/icons/error.png);
}

.icon.external {
  background-image:url(../images/icons/external.png);
  padding-left:15px;
}

.icon.gallery {
  background-image:url(../images/icons/gallery.png);
}

.icon.image {
  background-image:url(../images/icons/image.png);
}

.icon.image-library {
  background-image:url(../images/icons/image-library.png);
}

.icon.okay {
  background-image:url(../images/icons/okay.png);
}

.icon.processing {
  background-image:url(../images/icons/processing.gif);
  background-position:left bottom;
}

.icon.users {
  background-image:url(../images/icons/users.png);
}

.pad {
  padding:1em;
}

.right {
  text-align:right;
}

/* Grid-style tables */
table.grid {
  border-collapse:collapse;
}

table.grid thead th {
  background:#eee;
  padding:5px;
  text-align:left;
}

table.grid tbody tr.row td {
  border-top:1px solid #aaa;
  padding:5px;
}

table.grid tbody tr.row td.actions {
  text-align:right;
}

table.grid tbody tr.row td.handle {
  background:url(../images/icons/handle.gif) center center no-repeat;
  cursor:move;
  display:none;
  width:30px;
}

table.grid tbody tr.one {
  background-color:#fff;
}

table.grid tbody tr.two {
  background-color:#edf3fe;
}

/* jQuery UI */
.ui-tabs-panel {
  background:#c9d1d3;
  clear:both;
  padding:1em;
  position:relative;
  z-index:1;
  -webkit-border-radius:3px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.5) 0 -1px 2px;
}

.ui-tabs-hide {
  display:none;
}

.ui-sortable {
  padding:1em 1em 0 0;
}