<%= render :partial => 'left' %>
<h1 class="posts icon">Blog Posts</h1>
<% if @posts.empty? -%>
<div class="inset">
  <h2>You haven't written any posts!</h2>
  <b class="grey">Get started:</b> <%= button_link_to('Add a Post', new_admin_post_path, :icon => 'add') %>
</div>
<% else -%>
<%= render :partial => 'list', :locals => {:posts => @posts} %>
<% end -%>
