<h2>Forgot Password</h2>
<% form_tag(reset_grandstand_session_path) do %>
  <p>
    <label for="email">E-mail</label>
    <%= text_field_tag(:email, '', :class => 'oversized text') %>
  </p>
  <%= button 'Reset Password', :default => true %> <%= button_link_to 'Return to Log In', grandstand_session_path %>
<% end %>
