<h2>Log In</h2>
<% form_tag(grandstand_session_path) do %>
  <p>
    <label for="email">E-mail</label>
    <%= text_field_tag(:email, '', :class => 'oversized text') %>
  </p>
  <p>
    <label for="password">Password</label>
    <%= password_field_tag(:password, '', :class => 'oversized text') %>
  </p>
  <%= button 'Log In', :default => true %> <%= button_link_to 'Forgot Your Password?', forgot_grandstand_session_path %>
<% end %>
