<h2>Are you sure you want to do this?</h2>
<% form_for(@user, :html => {:method => :delete}, :url => admin_user_path(@user)) do %>
  <div class="field">
    You cannot undo this once it's done! This user will be gone, and so will their posts and galleries. Be careful! This could have dire effects.
  </div>
  <div class="toolbar">
    <%= button('Delete') %>
    <%= button_link_to('Cancel', admin_users_path, :class => 'cancel') %>
  </div>
<% end %>
