<h2>Upload Image</h2>
<% form_for(:image, @image, :html => {:multipart => true}, :url => grandstand_gallery_images_path) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <div class="toolbar">
    <%= button 'Add Image' %>
    <%= button_link_to('Cancel', grandstand_gallery_path(@gallery), :class => 'cancel') %>
  </div>
<% end %>
